[submodule "tufte-css"]
	path = vendor/tufte-css
	url = https://github.com/edwardtufte/tufte-css.git
[submodule "vendor/recschemes"]
	path = vendor/recschemes
	url = https://github.com/patrickt/recschemes.git
[submodule "vendor/emacs"]
	path = vendor/emacs
	url = git@github.com:patrickt/emacs.git
